body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("images/фон-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100vh;
    background-color: black;
}
#answer {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    background-image: url("images/021.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
#result {
    text-align: center;
    width: 155px;
    height: 140px;
    position: absolute;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid red;
}
#getAnswer {
    width: 50%;
    height: auto;
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 10px;
}
#animation {
    width: 180px;
    height: auto;
    position: absolute;
}
.animation {
    transition: all 0.5s linear;
}
#answerText {
    width: 100%;
    height: 100%;
    color: goldenrod;
    margin: 0;
    border: 1px solid green;
}
#answerText p {
    font-size: 35px;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Ruslan Display', cursive;
    word-break: break-all;
    line-height: 25px;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}