body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url("images/фон-01.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#answer {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    background-image: url("images/021.svg");
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (max-width: 1024px) {
        width: 100%;
    }
    #animation {
        max-width: 35%;
        max-height: 35%;
        position: absolute;
        top: 40%;
        left: 32%;
        animation-name: circle;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    #result {
        text-align: center;
        width: 25%;
        height: auto;
        position: absolute;
        top: 40%;
        left: 38%;
        padding: 20px;
        box-sizing: border-box;
        cursor: pointer;
        z-index: 100000;
        @media screen and (max-width: 1024px) {
            padding: 5px;
        }
    }
}

#getAnswer {
    width: 50%;
    height: auto;
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 10px;
    z-index: 10000;
}

.animation {
    transition: all 0.5s linear;
}
#answerText {
    width: 100%;
    height: auto;
    color: goldenrod;
    margin: 50% auto;
    padding: 0;
    display: flex;
    justify-content: center;
}
#answerText p {
    font-size: 35px;
    width: auto;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    font-family: 'Ruslan Display', cursive;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    @media screen and (max-width: 768px) {
        font-size: 30px;
    }
}
@keyframes circle {
    @for $i from 0 to 100 {
        #{$i * 1%} {
            $ddg: #{$i * 3.6}deg;
            transform: rotate($ddg);
            transform-origin: 50% 50%;
        }
    }
}